// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Custom
@import "custom";
@import "about";
@import "cennik";
@import "massages";

.sensafont {
    font-family: "IM Fell English", serif;
    font-weight: 700;
    font-style: normal;
}
