@import url(https://fonts.googleapis.com/css?family=Nunito);
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
.slideIn {
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 220px;
}

.small {
  font-size: 0.875rem !important;
}

#about {
  background-color: #2a3033;
  color: #fff;
}
#about .text-about {
  color: #fff;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
#about .text-about #studio {
  max-width: 30vw;
  min-width: 300px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: auto;
  border-radius: 10px;
}
#about .text-about .part {
  min-height: 80vh;
  min-width: 100vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about .text-about .part:nth-child(2) {
  background-color: #9e9d99;
}
#about .text-about .part:nth-child(3) {
  background-color: #dfe9ee;
  color: #404040;
}
#about .text-about h1 {
  padding-bottom: 5vh;
  font-size: 7vh;
}
#about .text-about h2 {
  padding-top: 5vh;
  padding-bottom: 3vh;
}
#about .text-about p {
  padding-bottom: 7vh;
}
@media (min-width: 768px) {
  #about .text-about h1,
#about .text-about h2,
#about .text-about p {
    max-width: 80vw;
  }
}
#about .buttons {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
#about .buttons a {
  font-size: 20px;
  font-weight: 700;
  margin: 2vh;
  color: rgb(245, 243, 243);
  border: 2px solid rgb(245, 134, 6);
  padding: 10px 15px;
}

#massages h1 {
  text-align: center;
}
#massages h2 {
  text-align: center;
}
#massages p {
  text-align: center;
}
#massages ul {
  list-style: none;
  padding-left: 0px;
}
#massages ul li {
  text-align: center;
  margin-bottom: 5vh;
  border-bottom: 2px solid rgb(236, 232, 232);
}
#massages ul li strong {
  margin-bottom: 2vh;
  display: block;
  text-align: center;
}
